# Ignore raw & large data
data/*
!data/.gitkeep
!data/README.md
!data/sample_recipes.csv

# Ignore raw CSV specifically (if present)
data/RAW_recipes.csv

# Ignore all model artifacts (can be regenerated)
models/

# Ignore Python cache files
*/__pycache__/
*.pyc

.venv/

.DS_Store

.env